/* esto es un comentario en css */

body {
  background-color: peru;
}

p {
  color: blue;
}


/* TODO: Añadan un background a la etiqueta h2, h3, h4 y cambien su tamaño a 50px */

h5 {
  background-color: aqua;
  font-size: 50px;
}

#estado {
  background-color: yellow;
}

.btn {
  background-color: red;
}

.texto-resaltado {
  color: blue;
}

.btn-verde {
  background-color: chartreuse;
}