/*
font-family: "Raleway", sans-serif;
font-family: "Open Sans", sans-serif;
*/

/* GENERALES */

/* Selector universal */
* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: hsl(218, 28%, 13%);

  color: hsl(0, 0%, 100%);

  font-size: 14px;
}

.hidden {
  display: none;
}