/*
font-family: "Raleway", sans-serif;
font-family: "Open Sans", sans-serif;
*/

/* GENERALES */

/* Selector universal */
* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 14px; /* 16px es el valor por defecto */
}

body {
  background-color: hsl(218, 28%, 13%);

  color: hsl(0, 0%, 100%);

  font-family: "Open Sans", sans-serif;
}

a {
  color: inherit;

  text-decoration: none;
}

img {
  /* TODO: RWD(RESPONSIVE WEB DESIGN) para las imágenes */
}

/* UTILITARIOS  */

.hidden {
  display: none;
}

/* HEADER */

.header {
  /* border: 1px solid red; */

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 42px;

  background-color: hsl(217, 28%, 15%);
}