/* 
  font-family: "Montserrat", sans-serif;
  font-family: "Fraunces", serif;
*/

body {
  background-color: hsl(30, 38%, 92%);

  font-family: "Montserrat", sans-serif;
  font-size: 14px;

  display: flex;
  justify-content: center; /* Alineamiento horizontal */
  align-items: center; /* Alineamiento vertical */
  height: 100vh;
}

main {
  border: 1px solid red;

  width: 650px;

  min-height: 400px;

  display: flex; /* Alineamiento horizontal */
}

.photo {
  width: 350px;

  background-image: url(images/image-product-desktop.jpg);
  background-size: cover;
}

.content {
  /* border: 3px solid blue; */

  width: 300px;

  padding: 28px;

  /* background-color: white; */
  background-color: hsl(0, 0%, 100%);
}

.content h2 {
  /* border: 1px solid green; */
  
  margin: 0; /* Espaciado externo, es un valor por defecto */
  
  color: hsl(228, 12%, 48%);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 7px;
  text-transform: uppercase;
}

/* TODO: Terminar con los estilos de las etiquetas h1 y p aplicando colores, fuentes y tamños de letra */

.content h1 {
  color: hsl(212, 21%, 14%);
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
}

.content p {
  color: hsl(228, 12%, 48%);
  font-weight: 500;
  line-height: 1.5;
}

.content div {
  display: flex;
  gap: 14px;
  align-items: center;
}

.content span {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 40px;
  color: hsl(158, 36%, 37%);
}

.content s {
  color: hsl(228, 12%, 48%);
}

.content button {
  
}